#tabs {
  min-width: 360px;
  line-height: 24px;
}

#tabs .tab {
  height: 24px;
  margin-bottom: 5px;
}

#tabs .tab img {
  height: 24px;
  width: auto;
}

#tabs .tab img.closeIcon {
  float: right;
}

#tabs .tab img.tabFavIcon {float: left; margin-right: 10px;}

#tabs .tab span.tabTitle {
  display: inline-block;
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#tabs .tab.active {
  background: #393E46;
}